<form method="post" action="{{ path('produit_delete', {'id': produit.id}) }}" onsubmit="return confirm('Vous etes sur de supprimer ce produit?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit.id) }}">
  <ul> <button class="btn btn-danger" >supprimer</button></ul>
</form>
