{% extends 'base.html.twig' %}
{% block bodyMenu %}
    <!-- Page Header Start -->
    <div class="page-header mb-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Rservez votre Table</h2>
                </div>
                <div class="col-12">
                    <a href="">Accueil</a>
                    <a href="">Reservation</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Booking Start -->
    <div class="booking">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="booking-content">
                        <div class="section-header">
                            <H1>Reserver une Table</H1>

                            <div class="menu-img">
                                <img src="{{ asset('Front/img/reser.jpg') }}" alt="Image">
                            </div>
                        </div>
                        <div class="about-text">
                            <p>
                             Reservez votre place
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5">
                    <div class="booking-form">
                    {% block booking %}  {% endblock %}

                </div>
            </div>
        </div>
    </div>
    <!-- Booking End -->
{% endblock %}