{% extends '/base.html.twig' %}
{% block bodyMenu %}
    <!-- Menu Start -->
    <div class="page-header mb-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Découvrez notre menu</h2>
                </div>
                <div class="col-12">
                    <a href="">Home</a>
                </div>
            </div>
        </div>
    </div>
    <div class="menu">
        <div class="container">
            <div class="section-header text-center">
                <p>le Menu du restaurant :</p>

                <h2>{{ restaurant.nomRestaurant }}</h2>
            </div>
            <div class="menu-tab">
                <ul class="nav nav-pills justify-content-center">

                        {% for cat in categorie %}
                    <li class="nav-item">
                        <div class="nav-link" >
                            <a href="{{ path('showProduitPlatCategorie', {'id_restaurant':restaurant.getIdRestaurant(),'id_categorie': cat.getIdCategorie()  }) }}">{{cat.nomCategorie}} </a>

                        </div>

                        </li>
                        {% endfor %}
                </ul>
                {% block DetailMenu%}       {% endblock %}




            </div>
        </div>
    </div>
    <!-- Menu End -->

{% endblock %}
