{% extends 'base2.html.twig' %}

{% block title %}New category{% endblock %}

{% block bodyBack %}
    <h1>Nouvelle catégorie</h1>

    {{ include('cat/_form.html.twig') }}

    <a href="{{ path('cat_index') }}">back to list</a>
{% endblock %}
